.App {
  text-align: center;
}

.personIconActive{
  border: 2px solid #3ac952;
  border-radius: 50%;
}

.personIconInactive{
  border: 2px solid #ff0000;
  border-radius: 50%;
}

.payroll-dashboard {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.payroll-card {
  flex: 1 1 250px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payroll-icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.payroll-icon-circle.up {
  background: #e6f8ec;
  color: #2da44e;
}

.payroll-icon-circle.down {
  background: #fdeaea;
  color: #d93025;
}

.payroll-icon-circle.big {
  width: 50px;
  height: 50px;
  font-size: 22px;
}

.payroll-title {
  font-size: 14px;
  color: #666;
}

.payroll-value {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.payroll-change {
  font-size: 13px;
}

.payroll-change.up {
  color: #2da44e;
}

.payroll-change.down {
  color: #d93025;
}

.payroll-subtitle {
  font-size: 12px;
  color: #999;
  text-align: center;
}

.payroll-date-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.payroll-btn {
  /* margin-top: 10px; */
  padding: 8px 16px;
  background: #6b46c1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.payroll-btn:hover {
  background: #553c9a;
}
